<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>


    <link rel="stylesheet" href="/css/{{styles}}">
</head>
<body>

    <header class="header">
        <picture>
            <img class="logo" src="/img/{{logo}}" alt="Logo Mi">
        </picture>
        <nav class="nav">
            <ul class="nav__ul">
                <li class="nav__li">
                    <a href="/">Home</a>
                </li>
                <li class="nav__li">
                    <a href="/realtimeproducts">Tiempo real</a>
                </li>
            </ul>
    </header>

    </nav>

    <main class="main">
        {{{body}}}
    </main>

    <footer class="footer">
        <p>© Todos los derechos reservados    -    Desafio <span>Coderhouse</span> / WebSocket y Handlebars    -    Infante Matias</p>
    </footer>
    
</body>
</html>